<div class="main task-index">
  <div class="container">
    <h1 class="tasks-heading">タスク一覧</h1>
    <% @user.tasks.each do |task| %>
      <% if task.delete_flg == 0 %>
        <div class="tasks-index-item">
          <%= link_to(task.task_name, "/tasks/#{task.id}") %>
          <% if task.complete_flg == 1 %>
           <p class="right-item complete">完了済</p>
          <% else %>
           <div class="right-item priority">
             <p>優先度</p>
             <% if task.priority==0 %>
               <p>
                 低
               </p>
             <% elsif task.priority==1 %>
               <p>
                 中
               </p>
             <% else %>
               <p>
                 高
               </p>
             <% end %>
           </div>
          <% end %>
          <p class="index-item-title">締め切り日時</p>
          <p> <%= task.deadline.strftime("%Y/%m/%d %H:%M")%> </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
